img {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 15px;
}
.navbar {
    background-color: #ffffff;
    border-bottom: solid;
    text-align: center;
    margin: auto;
    border-color: #cccccc;
    width: 100%;
    position: fixed;
    overflow: hidden;
    border-color: #cccccc;
    border-width: thin;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.leftnav a {
    float: left;
    width: 230px;
    overflow: hidden;
    margin: 14px 16px;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
}
.leftnav {
    position: relative;
    left: 15%;
}
.rightnav {
    position: relative;
    right: 15%;
}
.rightnav a {
    overflow: hidden;
    float: right;
    width: 60px;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
ul li {
    float: right;
    list-style-type: none;
}
.rightnav ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -1px;
}
.rightnav li {
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
    background-color: #fff;
}
html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
    background-image: url("../images/bg.png");
}
#footer {
    height: 35px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#footer-content {
    background-color: #666666;
    height: 32px;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
}
.main-info {
    background-color: #ffffff;
    width: 960px;
    margin: auto;
    padding: 20px;
    margin-top: 90px;
    align-items: center;
    height: 360px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-color: #dddddd;
    border-width: thin;
    border: groove;
    color: #777777;
}
.pmain-info {
    background-color: #ffffff;
    width: 960px;
    margin: auto;
    padding: 20px;
    align-items: center;
    margin-top: 90px;
    text-align: center;
    color: #777777;
    border-color: #dddddd;
    border-width: thin;
    border: groove;
    height: 1370px;
    border-radius: 5px;
    margin-bottom: 20px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
    }
.contact {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    width: 960px;
    margin: auto;
    color: #777777;
    border-color: #dddddd;
    border-width: thin;
    border: groove;
    margin-top: 90px;
}
.rightnav li {
    display: inline-block;
    padding: 0 .25em 0 0;
}
.rightnav li:after {
    content: " | ";
    color: #ccc;
    display: inline-block;
    font-size: 100%;
    margin: 0 0 0 .5em;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
.rightnav li:last-of-type:after {
    content: '';
}
.right_item {
    background-image: url(http://via.placeholder.com/300x300);
    width: 300px;
    height: 300px;
    float: left;
    margin: 80px;
}
.left_item {
    background-image: url(http://via.placeholder.com/300x300);
    width: 300px;
    height: 300px;
    float: right;
    margin: 80px;
}
h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
}
.item-text {
    margin-bottom: 20px;
    position: absolute;
    color: white;
    width: 300px;
    height: 24px;
    font-size: 16px;
    margin-top: 160px;
    background-color: #4aaaa5;
    padding-top: 4px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}